{% load staticfiles %}
{% load i18n  %}
<!DOCTYPE HTML>
<html>
<head>
{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
{% endblock %}
<title>{% block title %}Social Network{% endblock %}</title>
</head>
<body>
{% block header %}
{#    {% include "header.html" %} #}
{% endblock %}
<div id="content">
    {% block content %}
        {% if user.is_authenticated %}
        <h1>hello, {{ user.username }}!</h1>
        {% else %}
        <h1>hello world!</h1>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="/network/restricted/">Restricted Page</a><br />
        <a href="/network/logout/">Logout</a><br />
        {% else %}
        <a href="/network/register/">Register Here</a><br />
        <a href="/network/login/">Login</a><br />
        {% endif %}
    {% endblock %}
</div>
<div>
    {% block regist %}
    {% endblock %}
</div>
{% block footer %}
{#    {% include "footer.html" %}#}
{% endblock %}
</body>
</html>
