{% extends 'network/index.html' %}
{% block title %}Social Network{% endblock %}
{% block regist %}
    <div id="register">
        <h1>Login</h1>

        <form id="login_form" method="post" action="/network/login/">
            {% csrf_token %}
            username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
    </div>
{% endblock %}