{% extends 'network/index.html' %}
{% block title %}Social Network{% endblock %}
{% block regist %}
    <div id="register">
       <h1>Register</h1>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/network/">Return to the homepage.</a><br />
        {% else %}
       <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/network/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
{% endblock %}
